@model DapperEmple.Models.EmployeeModel
@{
    ViewBag.Title = "HtmlHelperExample";
}

<h2>HtmlHelperExample</h2>

<form>
    <label>FirsName</label>
    <input type="text" id="firstName" name="FirstName" value="Asha" style="background-color:black;color:white;" class="form-control" onclick="fun()" />
</form>

@using (Html.BeginForm())
{ 
    @Html.Label("LastName")
    @Html.TextBox("lstname",null,new { style = "background-color:skyblue" , @class="form-control" ,onclick = "fun()",id="lstName" })
    @Html.RadioButton("Gender", "Male",true)<span>Male</span>
    @Html.RadioButton("Gender","FeMale")<span>FeMale</span>
    <br />
    @Html.LabelFor(s => s.EmpName)
    @Html.TextBoxFor(s=>s.EmpName)

    <br />
    @Html.CheckBox("cbJava", true)<span>java</span>
    @Html.CheckBox("cbDotnet",true)<span>dotnet</span>

    @Html.DropDownList("Country",new List<SelectListItem>()
{
    new SelectListItem {Text="Select Country",Value="0"},
new SelectListItem {Text="India",Value="1" },
new SelectListItem {Text="US",Value="2" },
new SelectListItem {Text="London",Value="3" }
})
}

@Html.DropDownList("Employees")
@Html.DropDownList("Emp",(IEnumerable<SelectListItem>)ViewBag.Employees,"Select Employee")


<script>
    function fun()
    {
        var a = document.getElementById('lstName').value;
        alert(a);

    }
</script>